{% extends "__base1__glowna.html" %}
{% block content %}

<body>

<h1>Witamy w naszej w aplikacji!</h1>
<p>Mamy nadzieję, że znajdziesz tutaj najlepsze i najsmaczniejsze przepisy w sieci</p><br>
<p>Nasi specjaliści przygotowali zbilansowane dietetyczne oraz smaczne posiłki. W naszej aplikacji znajdziesz przepisy dla:</p>
<ul>
<li> Alergików</li>
<li>Nietolerujących glutenu</li>
<li>Dzieci</li>
<li>Osób starszych</li>
<li>Trenujących</li>
<li>Wegan</li>

<h2>Ważne informacje</h2>
<p>Maria Iksińska napisała książkę kucharską, która stała się bestsellerem na rynku książek kucharskich w Polsce.</p><br>
<p>Książka Pani Iksińskiej promuje zdrowe odżywianie i podkreśla jak ważną rolę odgrywa w nim planowanie posiłków.</p><br>
<p>Chce zacząć przeprowadzać w całym kraju warsztaty, na których będzie uczyć uczestników planowania posiłków.</p><br>

<p><i>7 maja 2019</i> - Data założenia strony</p>

<h2>Przydatne linki</h2>
<p>Blog Mari Iksińskiej (zarchiwizowany 30 kwietnia 2019): <a href="http://www.iksinska.pl">https://www.iksinska.pl</a></p>

</body>

{% endblock %}