{% load i18n %}{% autoescape off %}
{% blocktrans %}Otrzymałeś tą wiadomość, ponieważ poprosiłeś o przypomnienie hasła do swojego profilu ze strony {{ site_name }}.{% endblocktrans %}

{% trans "Wejdź w link i ustaw nowe hasło:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% trans "Twój login, w razie gdybyś zapomniał:" %} {{ user.get_username }}

{% trans "Dziękujmy za korzystanie z naszej strony!" %}

{% blocktrans %}The {{ site_name }} team{% endblocktrans %}

{% endautoescape %}
